.jumbotron {
    background-color: blue;
    background-image: linear-gradient(to left,rgb(34, 6, 113),rgb(148, 157, 238));
    text-align: center; 
    color: white; 
}

.searchbox {
    
    padding: 5px; 

}

.searchbar {
    padding: 0 0 15px 0; 
    display: flex; 
    flex-direction: column;
    align-content: center;
}

.srchbtn {
    background-color:rgb(148, 157, 238);
    color: white; 
    margin: 5px 0; 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
   
}

.pastsrch {
   border-top: 2px solid gray; 
    padding: 10px 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

button {
    text-decoration: none;
    list-style: none;
    background-color: gray; 
    border-radius: 10px;

}



.weatherdisplay {
   border: 2px solid darkgray; 
   margin-left: 15px;
   display: flex;
   flex-wrap: wrap;

}