:root {
    --primary-color: #0C1446;
    --secondary-color: #082D4B;
    --tertiary-color: rgb(148, 157, 238); 
    --quaternary-color: #84939E; 
   
  }



.jumbotron {
    background-color: var(--primary-color);
    background-image: linear-gradient(to left, #0C1446, rgb(148, 157, 238)); 
    text-align: center; 
    color: whitesmoke; 
}



.searchbox {
    padding: 5px; 

}

.searchbox h4 {
    color: var(--secondary-color); 
}

.searchbar {
    padding: 0 0 15px 0; 
    display: flex; 
    flex-direction: column;
    align-content: center;
    color:var(--secondary-color); 
}

.srchbtn {
    background-color:rgb(148, 157, 238);
    color: white; 
    margin: 5px 0; 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
   
}

.pastsrch {
   border-top: 2px solid gray; 
    padding: 10px 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.citybtn {
    color: var(--secondary-color); 
    background-color: var(--quaternary-color); 
    margin: 5px 0; 
    border-radius: 10px;
    color: var(--secondary-color); 
    padding: 5px; 

}


.weatherdisplay {
    border-radius: 5px; 

}

.location {
    font-size: 40px;
}

ul{
    display:flex;
    flex-direction: column;

}

ul li{
    list-style:none; 
    display:flex;
    flex-direction: column;
}